<center><h2>新設軟化器の硬度チェックと再生方法</h2></center>

<p>1.軟化器の採水量
  <br>約80m<sup>3</sup></p>
  
<p>2.硬度チェック 
  <br>(1)採水場所
    「軟化器出口の蛇口」と「軟水タンクの水高計下部銅菅」の２箇所
  <br>(2) 採水前の放流 採水は、水を十分放流してから行う。
        <br>放流の目安:蛇口 約1分
        <br>銅管 約5分
  <br>(3)硬度判定方法 採水量10mLとし、硬度判定薬3滴を入れる。
  <br>(4) 頻度1日3回(朝,昼,夕)
</p>
      
<p>3.再生方法
<br>3-1.軟水(タンク)の切替
新設軟水タンクと旧設軟水タンクを切り替える。
<br>(1) 旧設左秋水タンクの給水弁開、左(No.1) ブースターポンプONにする。<br>
(2)新設軟水タンク(タンク後方)の給水コックを閉める。</p>
<p>3-2.新設軟化器の再生
軟水配管電磁弁工事終了まで、軟水弁を閉としてから再生工程とする。<br>
(1) 軟水弁の閉 軟水タンク梯子左にある40A軟水配管のコックを開ける。<br>
(2)再生工程開始 コントロールバルブ後の黒色カバーをはずし、赤色ボタンを回す。<br>
を押しながら反時計方向に処し、矢印をスタートに合わせる。<br>
(3)食塩の投入<br>
約2時間後、再生工程が終了したら、再生へ食塩投入し<br>
て焼井。1回25kg(1袋)とし、4回に1度位にまった食を溶解させる。</p>
  
  
  
  