.softwater {
  float: light;
}
.centering_parent {
  text-align:  center;
}

.flame02 {
padding: 1em;
margin: 2em auto;
width: 100%;
color: #155724;
background-color: #d4edda;
border-color: #c3e6cb;
}

.flame03 {
padding: 1em;
margin: 2em auto;
width: 100%;
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
}